pytest~=7.2.0
fastapi~=0.85.1
pydantic~=1.10.2
neo4j~=5.1
redis~=4.3.4
aiosmtplib~=2.0.0
ariadne~=0.16.1
itsdangerous~=2.1.2
passlib~=1.7.4
wrapt~=1.14.1
# below are required for testing only
httpx~=0.23.0
uvicorn~=0.19.0
