fastapi~=0.110.0
passlib
pydantic==2.6.4
neo4j==5.18.0
redis==5.0.3
aiosmtplib==3.0.1
ariadne==0.22
itsdangerous~=2.1.2
wrapt==1.16.0
psygnal==0.11.0
# below are required for testing only
httpx==0.27.0
uvicorn==0.28.0
pytest
pytest-asyncio
pytest-env
